<!-- Bottom Navigation -->

<nav class="navbar fixed-bottom navbar-light" style="background-color:lightblue">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> 2021 Copyright by Lisa Ottey </a>
  </div>
</nav>