<!--Main Content-->
<main class = "container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <div class="container" >
        <h2 class="display-6" ><%= title %></h2>
        <h6 class="display-6" style="font-weight: bold;"><%= subtext %></h6>
      </div>
    </div>
  </main>