<!-- About Page-->

<% include Partials/header.ejs %>
<% include Partials/main_nav.ejs %>
<% include Partials/main_content.ejs %>


<hr>
<div class = "container-fluid" style = "border-style:inset">
  <h3 style="text-align: center;"> Lisa Hayles Ottey </h3>
    

  
    <p>Hello All,</p>
    <p>This is a page all about me, my experiences, education and my life. 
        I am creative, caring and funny (if I can say so myself). I take pride in my work and 
      like to see things to completion.</p>
  

   <p><img src="./Assets/images/lisao.jpg" class ="rounded-circle" > </p>


  </div>
  <hr>
<div class = "container-fluid" style = "border-style:inset">
  <h3 > Experience </h3>
 <p> Business Analyst with 3 years’ experience as a consultant using TM1 and Vena Cloud applications for developing financial reporting systems. Looking for an opportunity in Business Analytics that I am passionate about, allowing me to use my detail oriented and creative nature toward projects and a company to make data supported decisions. </p>
      Take a moment to view my <a href="./Assets/images/LisaOttey_AnalyticsConsultant.pdf"> resume </a> for more details on my experience.</p>

</div>
<% include Partials/bottom_nav.ejs %>
<% include Partials/footer.ejs %>