<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<%- include Partials/main_content.ejs %>
<div class = "container-fluid" style = "border-style:inset" >
    
    <h3 style = "text-decoration:underline"> Mission Statement: </h3>
    <p>Seek continuous growth in all aspects of life. Health, Wealth and Happiness.</p>
    
</div>

<hr>

<div class = "container-fluid" style = "border-style:inset"  >
    
    <br>
    <h4>On this site you will be able learn a little bit about my past and current <a href="/projects"> projects</a>.  
    The <a href="/services"> services</a> I can provide. <br> General <a href="/about"> about me</a> and finally be able to 
    <a href="/contact"> contact me.</a></h4>
    <p style="color:gray" >This is a simple website setup for COMP229 (Sec002). Student Number:301162155 </p>    
</div>


<%- include Partials/footer.ejs %>