<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<%- include Partials/main_content.ejs %>

<br>
<h3>Below is a quick over view of some of my most recent projects</h3>

<div class = "container-fluid" style="border-style:inset">
    <div style="columns: 1" style="size: 10cm;">
        <div class="card">
            <img src="https://newintelligence.ca/wp-content/uploads/2018/05/IBM-Planning-Analytics-for-video-May-2018.jpg" class="card-img-top" alt="IBM">
            <div class="card-block">
                <h5 class="card-title" style="font-weight:600;">Planning Analytics Project</h5>
                <p class="card-text">The first CPM OLAP tool I used in my professional career was IBM Cognos TM1 (Planning Analytics). 
                As an Anayltics Consultant, I delevered basic training and worked on full deployment projects to production. I got to travel to client sites as close as downtown Toronto and as far as Curacao.</p>
                <a href="/services" class="btn btn-primary" >View PA Services</a>
            </div>
        </div>    
       
    <br>

        <div class="card">
            <img src="http://www.klass.com/wp-content/uploads/2016/12/vena-solutions-square-logo.png" class="height: 100px" class="card-img-top" alt="Vena">   
            <div class="card-block">
                <h5 class="card-title" style="font-weight:600;">Vena Project</h5>
                <p class="card-text">My love for FP&A (financial planning and analysis) solutions continues! 
                I then had a chance to work as the consultant with twp American clients in Vena Solutions, a cloud based FP&A solution. 
                With much shorter projects, the time to delivery was ideal for many small companies. 
                Between training clients, discovery, devoplement and UAT, and I was able to get exposed to a 
                short implemenation and time to satisfaction for our clients. </p>
                <a href="/services" class="btn btn-primary">View Vena Services</a>
            </div>
        </div>
  


<br>

        <div class="card">
            <img src="https://www.golimelight.com/hs-fs/hubfs/limelight-process@2x.png?width=724&name=limelight-process@2x.png" class="card-img-top" alt="Limelight">
            <div class="card-block">
                <h5 class="card-title" style="font-weight:600;">Go Limelight</h5>
                <p class="card-text">Presently, I am working as a consultant at Limelight Solutions. working on integration sultions for clients to get more out of there ERP (enterprise resource planning) systems
                    Limelight has introduced me to more backend tools like SSIS, MSAS and SQL services. Always looking to grow my skill set.
                </p>
                <a href="/services" class="btn btn-primary">View LL Services</a>
            </div>
        </div>    
       

    </div>
</div>
</div>
<%- include Partials/footer.ejs %>